* {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
nav {
    background-color : #1F2937;
    color: #F8FAF8;

    width: 100%;
    
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;

    display: inline-flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
nav .topbar{
    display: flex;
    flex-direction: row;
    width: 70%;
}
nav .topbar .logo {
    width: 40%;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    font-size: 24px;
    font-weight: bold;
}
nav .topbar .links {
    display: inline-flex;
    justify-content: flex-end;
    width: 60%;
}
nav .topbar .links div{
    position: relative;
    width: fit-content;
    padding: 1rem;
}

.darker{
    background-color : #1F2937;
    color: #F9FAF8;
    z-index: 14;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 300px;
    width: 100%;
}
.darker .details{
    width: 35%;
}
.darker .details #bigtext{
    font-size: 48px;
    font-weight: bolder;
}
.darker .details p{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    color:#E5E7EB;
    
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
}

.darker .details #sign {
    position: relative;
    font-size: 12px;    
    margin-top: 0.5rem;    
    max-width: fit-content;
}
.darker .placeholder {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
    
    width: 35%;
    height: 100%;
}
.darker .placeholder .picbox {
    padding: 1rem 1rem;
    height: 60%;
    width: 90%;

    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;

    background-color:#6D747D;
}
.darker .placeholder .picbox p{
    text-align: center;
}
.boxes .heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding: 1.5rem;
}
.boxes .content{
    display: flex;
    justify-content: center;
}
.boxes .content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: min-content;
    padding: 2rem;
}
.boxes .content div p{
    text-align: center;
}
figure{
    height: 9rem;
    width: 9rem;
    margin-bottom: 1rem;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.greyish{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

    padding: 2rem;
    background-color: #E5E7EB;
}
.greyish .quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;

    max-width: 50%;
}
#filler{
    text-align: left;
}
#thor{
    text-align: right;
}

.white{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.white .calltoaction{
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #3882F6;
    color:#E5E7EB;
    
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 8px;
}
.white .calltoaction .btntxt{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 3rem;
}
.white .calltoaction .btntxt #call{
    font-size: 36px;
}
.white .calltoaction .btntxt #signup{
    font-size: 18px;
}
.white .calltoaction .btnholder{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.white .calltoaction .btnholder .btn{
    font-size: medium;
    
    border-radius: 8px;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 2px;
    
    white-space: nowrap;
    width: fit-content;
}
footer{
    background-color: #1F2937;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: larger;
    color:#F9FAF8;
    text-align: center;
}

@media (max-width: 800px) {
    .darker {
        display: inline-flex !important;
        flex-wrap: wrap;
    }
    .darker .details {
        height: fit-content;
        width: 50% !important;
    }
    .boxes .content{
        display: inline-flex;
        flex-wrap: wrap;
    }
    #thor, #filler{
        font-size: 20px !important;
    }
    
}